<!doctype html>
<html>
  <head>
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="{{ .path }}static/css/index.css" />
    <link rel="stylesheet" href="{{ .path }}static/css/xterm.css" />
    <link rel="stylesheet" href="{{ .path }}static/css/xterm_customize.css" />
  </head>
  <body>
    <div id="terminal"></div>
    <script src="{{ .path }}static/js/auth_token.js"></script>
    <script src="{{ .path }}static/js/config.js"></script>
    <script src="{{ .path }}static/js/bundle.js"></script>
  </body>
</html>

